:root {
  background-image: linear-gradient(45deg, black, crimson);
  height: 100%;
  color: #ffffff;
  font-family: fantasy;
}

* {
  box-sizing: border-box;
  outline: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: var(black);
  font-family: 'Open sans', sans-serif;
  font-size: 1.4em;
  line-height: 1.6em;
}

.container {
  max-width: 445px;
  margin: 50px auto;
  background: rgb(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(black);
}

form button {
  border: none;
  background: var(rgb(0, 0, 0));
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(rgb(0, 0, 0));
}

.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #ffffff;
  cursor: pointer;
  
}

.btn:hover {
  background: #646464df;
}

